appdirs==1.4.3
astroid==1.5.3
beautifulsoup4==4.6.0
catfish==1.4.2
chardet==3.0.4
click==6.7
dae==0.1
decorator==4.1.2
Django==1.11.4
docopt==0.6.2
Flask==0.12.2
gufw==17.10.0
idna==2.6
ipython==5.3.0
ipython-genutils==0.1.0
isort==4.2.15
itsdangerous==0.24
jieba==0.39
Jinja2==2.9.6
keyutils==0.5
kitchen==1.2.4
lazy-object-proxy==1.3.1
lightdm-gtk-greeter-settings==1.2.1
louis==3.3.0
lxc==0.1
MarkupSafe==1.0
mccabe==0.6.1
menulibre==2.1.3
mugshot==0.3.2
mysql-connector-python==2.1.6
npyscreen==4.10.5
olefile==0.44
packaging==16.8
pacman-mirrors==4.2.3
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
psutil==5.3.1
ptyprocess==0.5.2
pycairo==1.13.3
Pygments==2.2.0
pygobject==3.24.1
pylint==1.7.2
pyparsing==2.2.0
python-distutils-extra==2.39
python-sane==2.8.3
python-xapp==1.0.0
python-xlib==0.20
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
rtv==1.16.0
samsungctl==0.6.0
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.14
team==1.0
traitlets==4.3.2
udiskie==1.7.0
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.11
yapf==0.17.0
