<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    {% if messages %}
      <ul class=flashes>
      {% for msg in messages %}
         <div class="alert">
         <li>{{ msg.message }}</li>
         </div>
      {% endfor %}
    {% endif %}
  {% block body %}{% endblock %}
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
        <h2>Create a New Wish List Item</h2>
        <form action="/wish_list/new" method="POST">
            {% csrf_token %}
            <p>Item/Product:  <input type="text" name="item"></p>
            <br>
            <button type="submit">Add</button>
        </form>
    </body>
</html>